{{template "base" .}}

{{define "title"}}Signup{{end}}

{{define "main"}}
<form action="/user/change-password" method="POST" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    {{with .Form}}
    <div>
      <label>Current Password:</label>
      {{with .Errors.Get "current-password"}}
        <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="current-password">
    </div>
    <div>
      <label>New Password:</label>
      {{with .Errors.Get "new-password"}}
        <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="new-password">
    </div>
    <div>
      <label>Verify New Password:</label>
      {{with .Errors.Get "verify-new-password"}}
        <label class="error">{{.}}</label>
      {{end}}
      <input type="password" name="verify-new-password">
    </div>
    <div>
      <input type="submit" value="change">
    </div>
  {{end}}
</form>
{{end}}
    